$default-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$header-font-family: "BetterTogether-Script";
$subtitle-font-family: "Montserrat", sans-serif;
$title-font-family: "EB Garamond", serif;
