$logo-size: 50px;

.logo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .jogo {
    display: flex;
    flex-direction: row;
  }

  // @media screen and (max-width: $break-medium) {
  //   flex-direction: column;
  // }
}

.spinning-logo {
  max-width: $logo-size;
  animation: spin infinite 20s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
