@import "base/typograph";
@import "base/config";

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

address {
  font-style: normal;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: $default-font-family;
  color: $font-color;
  background: $base-color;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "modules/logo";
